/* =====================================================================================================================
   General
*/

body {
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient( #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    min-width : 992px;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    width : 96%;
}

.page-head {
    margin: 30px 10px;
}


/* =====================================================================================================================
   Main Form
*/

.form-group{
    width: 100%;
}
#DBID {
    width: 70%;
    margin: 10px 0;
}
div.input-group.date{
    width: 70%;
}
#date {
    width: 100%;
    margin-left: 7px;
}

#work {
    width: 70%;
    margin: 10px 0 5px 3px;
}

#key {
    width: 70%;
    margin: 10px 0 5px 12px;
}

.area {
    margin-right: 7px;
    margin-top: 10px;
}

#defect {
    width: 70%;
    margin-left: 15px;
    margin-bottom: 10px;
}
#charm {
    width: 70%;
    margin-left: 6px;
    margin-bottom: 10px;
}
#status {
    width: 30%;
    margin-left: 15px;
    margin-bottom: 10px;
}
#baseline {
    width: 70%;
    margin-bottom: 10px;
}

.reproducible {
    margin-right: 10px;
    margin-bottom: 15px;
}
.priority {
    margin-right: 53px;
    margin-bottom: 15px;
}
.messenger {
    margin-right: 26px;
    margin-bottom: 15px;
}

#messenger_btn{
    width: 20%;
}

#customer {
    width: 90px;
    margin-bottom: 10px;
}

.customer_list {
    height: 228px;
}

fieldset {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #8E9EAB;
    height: 248px;
}

#summary {
    width: 84%;
    margin-left: 55px;
}

#description {
    resize: vertical;
    max-height:80px;
    width: 84%;
    margin: 10px 0 0 39px;
}

#action {
    margin-left: 122px;
}
.tab-pane {
    background-color: #fff;
    margin : 0 0 0 122px;
    padding: 10px;
    width: 84%;
    height: 140px;
    border: solid 1px #CCCCCC ;
    border-top-style: hidden;
    overflow-y: auto;
    position: relative;
}

#new-action {
    width: 100%;
    height: 8em;
}

#new-action-btn{
    position: absolute;
    top:55%;
    left: 85%;
}

#solution {
    margin : 0 0 0 60px;
    width: 42%;
}
label.solution_baseline {
    margin: 15px 0 0 10px;
    width:9%;
}

#solution_baseline{
    width: 30.5%;
}

#c2c {
    resize:vertical;
    max-height:80px;
    width: 84%;
    margin : 10px 0 30px 10px;
}

/* =====================================================================================================================
   Search panel
*/

.search {
    margin-left: -7px;
    padding: 10px ;
    border:solid 1px #8E9EAB ;
    border-radius: 3px;
}
.s_list {
    margin: 10px 0 0 0 ;
    height: 535px;
}
.search-ph{
    display: block;
    border-radius: 3px;
    height: 97%;
    font-size: large;
    color: #b3b3b3;
    text-align: center;
    background-color: #fff;
    margin: 10px 0 0 0;
}

.search-ph>span{
    padding: 50% 0;
}

#s_defect {
    width: 70%;
    margin: 10px 0 0 24px;
}

#s_customer {
    width: 70%;
    margin: 10px 0 0 2px;
}

#s_summary {
    width: 70%;
    margin: 10px 0 0 5px;
}
#s_status {
    width: 70%;
    margin: 10px 0 0 24px;
}

#s_open_issues {
    margin-top:10px;
}



.search-btns{
    padding-left: 0;
}
.search-btn {
    padding: 6px 10px;
    margin: 0 1px 10px 0;
    width: 100%;
}
.search-reset-btn{
    padding: 6px 10px;
    margin-bottom: 10px;
    float: right;
    width: 100%;
}

.advance-search-btn {
    font-size: 90%;
    width: 100%;
}

.list-group {
    overflow-y:auto;
    overflow-x:auto;
}

.pagination_btn {

    margin: 10px 0 30px 0;
}

#new_project {
    margin-bottom: 30px;
}

.form-group>p {
    display: inline-block;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #bce1f2  ;

}
