/* =====================================================================================================================
   General
*/

body {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( #8e9eab, #eef2f3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( #8e9eab, #eef2f3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    min-width: 992px;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 96%;
}

.page-head {
    margin: 30px 10px;
}


/* =====================================================================================================================
   Main Form
*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #666  !important
}

.form-group {
    width: 100%;
}

#dbid {
    width: 220px;
    margin-bottom: 10px;
    margin-left: 48px;
}

div.input-group.date {
    width: 80%;
}

#date {
    width: 220px;
    margin-left: 55px;
}

#work {
    
    width: 220px;
    margin: 11px 0 5px 2px;
}


.key {
    margin-right: 60px;
    margin-top: 16px;
}

.area {
    margin-right: 55px;
    margin-top: 10px;
}

#defect {
    width: 70%;
    margin-left: 15px;
    margin-bottom: 10px;
}

#charm {
    width: 70%;
    margin-left: 6px;
    margin-bottom: 10px;
}

#status {
    width: 70%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.select {
    width: 119% !important;
    position: relative;
    bottom: 27px;
    left: 70px;
}

.baseline-group {
    height: 49px;
}

.baseline-label {
    z-index: 2;
    position: relative;
    top: 10px;
    margin-right: 12px;
    margin-top: 10px;
}


#vsn {
    width: 220px;
    margin: 0 0 10px 19px;
}


#cd {
    width: 56%;

    margin-top: 3px;
    margin-bottom: 7px;
    margin-left: 105px;
    z-index: 2;
    position: relative;
}

.reproducible {
    margin-right: 10px;
    margin-bottom: 15px;
}

.priority {
    margin-right: 53px;
    margin-bottom: 15px;
}

.messenger {
    margin-right: 26px;
    margin-bottom: 15px;
}

#customer {
    width: 90px;
    margin-bottom: 10px;
}

.customer_list {
    height: 228px;
    overflow-y: auto;
    overflow-x: auto;
}

fieldset {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #8E9EAB;
    height: 248px;
}

#summary {
    width: 84%;
    margin-left: 55px;
}

#description {
    resize: vertical;
    max-height: 120px;
    width: 42%;
    margin: 10px 0 0 39px;
}

#description_de {
    resize: vertical;
    max-height: 120px;
    width: 41%;
    margin: 10px 0 0 4px;
}

#action {
    margin-left: 122px;
}

textarea {
   resize: none;
}

.tab-pane {
    background-color: #fff;
    margin: 0 0 0 122px;
    padding: 10px;
    width: 84%;
    height: 75px;
    border: solid 1px #CCCCCC;
    border-top-style: hidden;
    overflow-y: auto;
    position: relative;
}

#new-action {
    width: 85%;
    height: 4em;
}

#new-action-btn {
    position: absolute;
    top: 28%;
    left: 86%;
}

#solution {
    margin: 10px 0 0 60px;
    width: 42%;
}

#solution_de {
    width: 41%;
    margin: 10px 0 0 4px;
}

#c2c {
    resize: vertical;
    max-height: 80px;
    width: 84%;
    margin: 10px 0 10px 10px;
}

#save-file {
    resize: vertical;
    max-height: 80px;
    width: 84%;
    margin: 0 0 30px 87px;
}

.file-type {
    margin: 0 85px 30px 0;
}

#file-path {
    width: 56.5%;
}

#type {
    width: 20%;
}

#delete {
    width: 10%;
}

#submit {
    margin-left: 20px;
}

/* =====================================================================================================================
   Search panel
*/

.search {
    margin-left: -7px;
    padding: 10px;
    border: solid 1px #8E9EAB;
    border-radius: 3px;
}

.s_list {
    margin: 10px 0 0 0;
    height: 535px;
}

.search-ph {
    display: block;
    border-radius: 3px;
    height: 97%;
    font-size: large;
    color: #b3b3b3;
    text-align: center;
    background-color: #fff;
    margin: 10px 0 0 0;
}

.search-ph>span {
    padding: 50% 0;
}

#s_dbid {
    width: 65%;
    margin: 10px 0 0 43px;
}

#s_charm {
    width: 65%;
    margin: 10px 0 0 38px;
}

#s_defect {
    width: 65%;
    margin: 10px 0 0 38px;
}

.s_customer {
    margin: 15px 15px 0 0;
}

#s_desc {
    width: 65%;
    margin: 10px 0 0 3px;
}

#s_desc_de {
    width: 65%;
    margin: 10px 0 0 3px;
}

#s_summary {
    width: 65%;
    margin: 10px 0 0 19px;
}

#s_status {
    width: 65%;
    margin: 10px 0 0 38px;
}

#s_open_issues {
    margin-top: 10px;
}

.s_open_issues {
    font-size: smaller;
}

#s-buttons {
    width: 50%;
    margin-top: 43px;
}

#s-info,
#s-success,
#s-danger,
#s-warning {
    height: 30px;
}

.search-btns {
    padding-left: 0;
}

.search-btn {
    padding: 6px 10px;
    margin: 0 1px 10px 0;
    width: 100%;
}

.search-reset-btn {
    padding: 6px 10px;
    margin-bottom: 10px;
    float: right;
    width: 100%;
}

.search-without-btn {
    padding: 6px;
    margin-bottom: 10px;
    float: right;
    width: 100%;
}

.list-group {
    overflow-y: auto;
    overflow-x: auto;
}

.pagination_btn {
    margin: 10px 0 30px 0;
}

#new_project {
    margin-bottom: 30px;
}

.form-group>p {
    display: inline-block;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #bce1f2;
}

.list-group-item-purple{
    color: #b05fd8;
    background-color: #edd4f9;
    border-radius: 4px;
    
}


 a:active , a:focus{
    text-decoration: none;
}

.navi{
    padding: 5px 10px;
    margin: 0 20px;
    display: inline-flex;
}


@media only screen and (max-width: 1616px){
    #dbid {
    width: 160px;
    margin-bottom: 10px;
    margin-left: 29px;
    }

    div.input-group.date {
        width: 80%;
    }

    #date {
        width: 160px;
        margin-left: 36px;
    }

    

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 160px;
    }
    


    #work {
        width: 142px;
        margin: 11px 0 5px 2px;
    }

    .key {
        margin-top: 16px;
        margin-right: 39px;
    }

    .area {
        margin-top: 10px;
        margin-right: 34px;
    }

    #vsn {
        width: 160px;
        margin: 0 0 10px 0;
    }

}



@media only screen and (min-width: 1730px){
    .select {
        width: 110% !important;
        position: relative;
        bottom: 27px;
        left: 70px;
    }
}